body, html { 
    height: 100%; 
    margin: 0; 
    font-family: sans-serif; 
    background-color: #fafafa; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.container { 
    max-width: 350px; 
    width: 90%; 
}

.form-box { 
    background-color: #fff; 
    border: 1px solid #dbdbdb; 
    padding: 20px 40px; 
    margin-bottom: 10px; 
    text-align: center; 
}

.logo { 
    width: 175px; 
    margin: 22px auto 12px; 
}

.sub-heading { 
    font-size: 17px; 
    color: #8e8e8e; 
    font-weight: 600; 
}

input { 
    width: 100%; 
    padding: 9px 8px; 
    margin-bottom: 6px; 
    background-color: #fafafa; 
    border: 1px solid #dbdbdb; 
    border-radius: 3px; 
    box-sizing: border-box; 
}

.bt
